/*Linear Search Visualization CSS File 
    author(Joshua Thomas)
    date(07.01.2022)
    version:1.0
*/

#box1,#box2,#box3,#box4,#box5{
    width:110px;
    height:110px;
    border-radius:10px;
    float:left;
    background-color:lightblue;
    margin:10px;
    border:5px solid black;
    letter-spacing:50px;
}

.container{
    margin:10%
}

.container2{
    margin:auto;
    width:fit-content;
}

#start,#clear{
    font-size:50px;
    border-radius:10px;
}
